$radio-color: #364958;
$bk-color: #8DA7BE;
$ltr-color: #95B2B8;

body {
  background-color: $bk-color;
  font-family: 'Signika Negative', sans-serif;
}

.tx-cap {
  text-transform: capitalize;
}

.form-control {
  border: 1px solid $radio-color;
  background-color: rgb(233, 233, 233);
}

.btn-custom {
  background-color: $radio-color;
  color: $bk-color;
  margin: 0 auto;
  flex-basis: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.4s ease;
  &:hover {
    color: #C9E4CA;
  }
}

.ta-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.city {
  flex-basis: 80%;
  position: relative;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}

.input-radio {
  display: none;
}

.unit-radio {
  font-family: 'Sen', sans-serif;
  flex-basis: 40%;
  text-align: center;
  cursor: pointer;
  border: 1px $radio-color solid;
  transition: all 0.4s ease;
  opacity: 0.4;
  margin: 0;
  &:hover {
    background-color: $radio-color;
    color: $ltr-color;
    opacity: 1;
  }
  &:first-of-type {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }
  &:last-of-type {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}

.input-radio:checked + .unit-radio {
  background-color: $radio-color;
  color: $ltr-color;
  opacity: 1;
}

// DOM changes

.current-temp-container {
  display: flex;
  justify-content: center;
}

.condition-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.condition {
  width: 100px;
  height: 100px;
  align-self: center;
}

.city-info.unactive {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 1s ease;
}

.city-info {
  margin: 0 auto;
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 0.5s ease, height 1s ease;
}