$radio-color: #364958;
$bk-color: #202442;
$ltr-color: #E7E9F7;

body {
  background-color: $bk-color;
  color: $ltr-color;
  font-family: 'Signika Negative', sans-serif;
}

.tx-cap {
  text-transform: capitalize;
}

.form-control {
  border: 1px solid $radio-color;
  background-color: rgb(233, 233, 233);
}

.btn-custom {
  background-color: $radio-color;
  color: $bk-color;
  margin: 0 auto;
  flex-basis: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.4s ease;
  &:hover {
    color: #C9E4CA;
  }
}

.ta-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.city {
  flex-basis: 80%;
  position: relative;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}

.input-radio {
  display: none;
}

.unit-radio {
  font-family: 'Sen', sans-serif;
  flex-basis: 40%;
  text-align: center;
  cursor: pointer;
  border: 1px $radio-color solid;
  transition: all 0.4s ease;
  opacity: 0.4;
  margin: 0;
  &:hover {
    background-color: $radio-color;
    color: $ltr-color;
    opacity: 1;
  }
  &:first-of-type {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }
  &:last-of-type {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}

.input-radio:checked + .unit-radio {
  background-color: $radio-color;
  color: $ltr-color;
  opacity: 1;
}

// DOM changes

.current-temp-container {
  display: flex;
  justify-content: center;
}

.condition-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.condition {
  width: 100px;
  height: 100px;
  align-self: center;
}

.city-info.unactive {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 1s ease;
}

.city-info {
  margin: 0 auto;
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 0.5s ease, height 1s ease;
}

// icon in search

.fas {
  display: none;
}

.search-text {
  color: $ltr-color;
}

// for mobile version

@media only screen and (max-width: 500px) {
  
  .app-title {
    font-size: 1.2rem;
    margin-top: 2%;
  }

  .form-control {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &::placeholder {
      color: gray;
    }
    &:focus {
      background-color: inherit;
      border-color: inherit;
      box-shadow: none;
      color: $ltr-color;
    }
  }

  .btn-custom {
    background-color: inherit;
  }

  .search-icon {
    color: $ltr-color;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
  }

  .fas {
    display: block;
  }

  .search-text {
    display: none;
  }

  .input-radio:checked + .unit-radio {
    color: $ltr-color;
    background-color: inherit;
    border: 1px solid $ltr-color;
    opacity: 1;
  }

  .initial-anim.visible {
    animation: starting 1.5s ease;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }

  .app-title {
    position: relative;
    opacity: 0;
    animation: startingTit 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  .today {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .condition {
    width: 50px;
    height: 50px;
  }

  .today-text {
    h4 {
      margin: 0;
    }
    span {
      font-size: 0.8rem;
    }
  }

  .current-temp-container {
    margin: 20px;
    * {
      margin: 0;
    }
    .curr-temp {
      font-size: 2.5rem;
      line-height: 1;
    }
  }

  .curr-unit {
    font-size: 1rem;
  }

  .city-span {
    font-size: 0.8rem;
  }
}

@keyframes starting {
  from { 
    opacity: 0;
    top: 100px;
   }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes startingTit {
  from { 
    opacity: 0;
    top: -50px;
   }
  to {
    opacity: 1;
    top: 0;
  }
}

// gif

.gif-image {
  margin: 0 auto;
  max-width: 90%;
}